
##HTID:565136: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
##php_value display_errors 1
##DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:565136:

<IfModule mod_rewrite.c>

##Do not remove this line, otherwise mod_rewrite rules will stop working
##TURN ON REWRITING ENGINE
RewriteEngine On
RewriteBase /

#prevent directory file listing
IndexIgnore *

###RENDER PAGES WITHOUT EXTENSION
Options +FollowSymLinks +MultiViews
#RewriteCond %{REQUEST_FILENAME} !-f [NC]
#RewriteRule ^([^\.]+)$  $1.php [NC,L]

##Redirect index to root domain
#RewriteRule ^index\.php$ - [L]

##USE NON-WWW ONLY
#RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
#RewriteRule ^ http://%1%{REQUEST_URI} [L,R=301]

##REMOVE TRAILING SLASHES
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)(\.php)?/$ /$1 [L,R=302]


##SPA handler and ErrorDocument 404
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ /tools/index.php [L,QSA]

</IfModule>